<h1>Sattelite Details</h1>

<p>
  <strong>Name:</strong>
  <%= @sattelite.name %>
</p>

<p>
  <strong>Planet:</strong>
  <%= link_to @sattelite.planet.name, @sattelite.planet %>
</p>

<p>
  <strong>Type:</strong>
  <%= @sattelite.sattelite_type %>
</p>

<p>
  <strong>Mass:</strong>
  <%= @sattelite.mass %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @sattelite.temperature %>
</p>

<p>
  <strong>Form:</strong>
  <%= @sattelite.form %>
</p>

<%= link_to 'Edit', edit_sattelite_path(@sattelite) %> |
<%= link_to 'Back', sattelites_path %>
